{%extends 'tugulenga/base.html' %}
{% block content%}
<style>
       body {
            font-family: Arial, sans-serif;
            background-color: rgb(179, 178, 182);
        }

</style>
<form class="auth" enctype="multipart/form-data" action="{% url 'tugule:add_product' %}" method="POST">
    {{form}} {% csrf_token %}
    <button class="auth btn btn-sm"style=" border-radius: 10px; background: teal; border:4px solid white ; color: white;" type="submit" >Add</button>
</form>

{% endblock %}