{% extends 'products/base.html' %}

{% load bootstrap5 %}
{% bootstrap_css%}
{% bootstrap_javascript%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(144, 142, 148);
        }

       .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            background-color: rgb(125, 154, 143);
            border: 1px solid #831717;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(246, 5, 5, 0.1);
        }

       .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

       .header h1 {
            margin: 0;
        }

       .section {
            margin-bottom: 20px;
        }

       .section h2 {
            margin: 0 0 10px 0;
        }

       .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

       .product {
            width: 300px;
            margin-bottom: 20px;
            border: 1px solid #e90b0b;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

       .container  .link {
            display:inline-block;
            font-size: 1em;
            background: teal;
            padding: 10px 30px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            color: #111;
            letter-spacing: 2px;
            transition: 0.2s;
            margin: 0 0 5px 0;
        }
        .container  .link:hover{
            letter-spacing: 6px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <div class="card border-success mb-3" style="width: 400px;">
                <div class="card-header bg-transparent h4 d-flex mb-3 justify-content-between"style="border-bottom:4px solid teal ;">{{business.name}}  <img class="ms-auto p-0 rounded" src="{{business.logo.url}}"  alt="Business Logo" width="50" height="50" ></div>
                <div class="card-body "style="color: teal;" >
                    <h5 class="card-title">Description: {{business.description}}</h5>
                    <p class="card-text" >
                    <h5>Location: {{business.location}}</h5>
                    <h5>Contact: {{business.phone}}</h5>
                    <h5>Email: {{business.email}}</h5>
                    </p>
                </div>
                
                <div class="card-footer bg-transparent "style="border-top:4px solid teal ;"><a class="link btn btn-lg text-light" href="{%url 'tugule:edit_business'%}">Edit Business</a></div>
            </div>
            <div class="card border-primary mb-3" style="width: 400px; ">
                <div class="card-header bg-transparent h4 d-flex mb-3 justify-content-between"style="border-bottom:4px solid teal ;">Products</div>
                <div class="card-body text-success">
                    <div class="list-group list-group-flush"style="overflow-y: auto;height:200px">
                        {%for product in products%}
                       
                        <a href="{%url 'tugule:profile' %}" class="link list-group-item  list-group-item-light  text-light">{{product.name}}</a>
                        {%endfor%}
                      </div>
                </div>
                
                <div class="card-footer bg-transparent " style="border-top:4px solid teal ;"><a class="link btn btn-lg text-light" href="{%url 'tugule:add_product'%}">Add Product</a></div>
            </div>
            
            
            
        </div>
        <div class="card align-self-stretch w-100 col-sm-12 mb-3" style="width: 500px ; border-radius: 10px; background: white;border:4px solid teal ;">
            <div class="card-header bg-transparent  display-6 h5"style="border-bottom:4px solid teal ;color:teal">Orders</div>
            <div class="card-body text-light">
              <h5 class="card-title"></h5>
              <p class="card-text w-100 " >
                <ul>
        
                  <table class="table w-100  table-hover table-border text-light " style="overflow-y: auto; height: 150px;border:4px solid teal ;background-color: teal;">
                    <thead>
                      <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Complete</th>
                        <th scope="col">Status</th> 
                      </tr>
                    </thead>
                    <tbody>
                      {% for orderitem in orderitems %}
                      {% if orderitem.product.business_account.id == business.id %}
                      <tr>
                        <td>{{orderitem.product.name}}</td>
                        <td>{{orderitem.quantity}}</td>
                        <td>{{orderitem.status}}</td>
                        <td>
                          {% if orderitem.order.complete %}
                          <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#49d416" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                          {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#da0101" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                          
                          </svg>
                          {% endif %}
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </ul>
              </p>
                  
            </div>
        </div>
       
    </div>    
        {%endblock%}
       