{% extends 'tugulenga/base.html' %} 
{% load bootstrap5 %}
{% block content %}
<head>
    <style>
        body{
            background-color:rgb(179, 178, 182);
        }
    </style>
</head>
<h2>Create Business</h2>
<form method="POST" enctype="multipart/form-data" class="auth">
    {%csrf_token%}
    {%bootstrap_form form layout='horizontal'%}
    <button class="auth btn btn-sm" style="background-color:rgb(255, 0, 64); color: rgb(2, 24, 17);" type="submit">Create Business</button>
</form>
{%endblock%}

