{% extends 'tugulenga/base.html' %} 
{% load bootstrap5 %}
{% block content %}
<style>
    body {
         font-family: Arial, sans-serif;
         background-color: rgb(179, 178, 182);
     }

</style>

<h2>Edit Profile</h2>
<form method="POST" action="{% url 'tugule:edit_profile' %}" enctype="multipart/form-data" class="auth">
    {%csrf_token%}
    {%bootstrap_form form layout='horizontal'%}
    <button class="auth btn btn-sm"style=" border-radius: 10px; height: 40px;width: 150px; background: teal; border:4px solid white ; color: white;" type="submit">Edit</button>
    
</form>
{%endblock%}