{%extends 'tugulenga/base.html' %}
{% block content%}
<form class="auth" enctype="multipart/form-data" action="{% url 'tugule:edit_product' product.id %}" method="POST">
    {{form}} {% csrf_token %}
    <button class="auth" type="submit">Edit</button>
</form>

{% endblock %}