
{%load static%}
{%load bootstrap5%}
{% bootstrap_css %}
{%bootstrap_javascript%}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Tugule</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="https://image.ibb.co/fOur3b/favicon.png"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel='stylesheet' href='https://cdn.rawgit.com/filipelinhares/ress/master/dist/ress.min.css'><link rel="stylesheet" href="{% static 'css/slide.css' %}">
<meta name="theme-color" content="#3a9fff">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="{%static 'css/stylez.css'%}">



<!-- partial:index.partial.html -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="{%static 'images/logo.jpg'%}"/>
<meta name="theme-color" content="#1885ed">
<title>Tugule- Homepage</title>
</head>

<body>
  
  
  <header class="header">
    <div class="container header__container">
      <div class="header__logo"><img class="header__img" src="{%static 'images/logo.png'%}"height=70px style="border-radius: 100%;"> <h1 class="header__title">Tugule<span class="header__light"></span></h1></div> 
      <nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" height="50" width="50" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#050e1f" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>

    </button>
    <div class="container-fluid">
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Tugule</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body h-100">
          {% if user.is_authenticated and not request.user.business_account %}
          <form action="{%url 'tugule:search'%}" method="GET" class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="search" placeholder="Search Products" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          {% endif %}
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 w-100">
            
            {% if not user.is_authenticated %}
            <li class="nav-item"><a href="{%url 'tugule:signup'%}" class="nav-link w-50 btn btn--white">Register now!</a></li>
            <br>
            <li class="nav-item"><a href="{%url 'tugule:login'%}" class="nav-link btn btn--white w-50">Log In →</a></li>
            <be></be>
            {%else%}
            <li class="nav-item"><a href="{%url 'tugule:logout'%}" class="nav-link btn btn-danger btn-lg p-4 w-50" style="background-color:red; color:black;">Log out</a></li>
            <li class="nav-item">
              <a class="nav-link btn btn--white w-50 mb-4 mt-4" style=color:black href="{%url 'tugule:profile'%}">Profile</a>
            </li>
            
            {%if request.user.business_account  %}
            <li class="nav-item">
              <a class="nav-link btn btn--white w-50"style=color:black href="{%url 'tugule:business-profile'%}">Business Profile</a>
            </li>
            {%else%}
            <li class="nav-item btn btn--white w-50 p-0"><a href="{%url 'products:home'%}" class="nav-link">Product Categories</a></li>
            <li class="nav-item"><a href="{%url 'products:cart'%}" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="26" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
              <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
            </svg></a></li>
            
            {% endif %}
            {% endif %}
            
            
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="header__menu w-100">
    <nav id="navbar" class="header__nav collapse">
      <ul class="header__elenco w-100">
        <div class="d-flex flex-row" style="width: 200px;">
          <li class="header__el"><a href="{%url 'tugule:home'%}" class="header__link">Dashboard</a></li>
        </div>
      </ul>
      <form class="d-flex mt-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
</nav>     
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      
    </nav>
  </div>
</div>

</header>

<div class="sect sect--padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site">
          <h1 class="site__title"></h1>
          <h2 class="site__title">Where Users Meet Businesses in a Click!</h2>
          
          
    
      
     {% include 'tugulenga/slide.html' %}
    </div>
    </div>
    </div>
  </div>
</div>




<div class="sect sect--violet ">
  <img src="https://image.ibb.co/fWyVtb/path3762.png" class="career-img">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="career_title">Tugule is a commercial online web platform designed to provide users with a seamless shopping experience. Whether you are a customer looking for quality products or a seller aiming to showcase your merchandise. Tugule offers a platform that meets your needs.</p>
        
        
      </div>
    </div>
  </div>
  
</div>




<!-- partial -->
 
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script>
<script  src="{%static 'js/script.js'%}"></script>
<script src="{% static 'js/slides.js' %}"></script>
</body>
</html>
