{%load static%}
{%include 'products/navbar.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Tugule</title>
    <style>
      .rating:not(:checked) > input {
        position: absolute;
        appearance: none;
      }
      
      .rating:not(:checked) > label {
        float: right;
        cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}

</style>
<script>
  var user = '{{request.user}}'

  function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');
</script>
</head>
<body>
  {%include 'products/messages.html'%}

    <div class="wrapper px-5 py-2" style="width: 100vw; height: 100vh; background-color: rgb(112, 116, 116);">
        <div class="d-flex flex-row justify-content-between">
            <div class="card border-primary mb-3" style="width: 400px;">
                <div class="card-header bg-transparent h4 d-flex mb-3 justify-content-between"style="border-bottom:4px solid teal ;">{{product.name}}</div>
                <div class="card-body "style="color: teal;" >
                    
                    <p class="card-text" >
                    <h4>Business: {{product.business_account.name}}</h4>
                    <h4>Category: {{product.category}}</h4>
                    <img src="{{product.image.url}}" alt="Product Image"  width="100" height="100">
                    <h4>Price : {{product.price}}</h4></p>

                    {% for i in rating_list %}
                    <svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#FFD43B" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                    {% endfor %}
                    
                    <div class="card-footer bg-transparent "style="border-top:4px solid teal ;">
                      {% if request.user.business_account %}
                      <a class="btn btn-primary" href="{%url 'tugule:edit_product' product.id%}">Edit</a>
                      {% else %}
                     <div class="d-flex flex-row w-100 justify-content-between">
                       <button data-product="{{product.id}}" data-action="add" class="update-cart btn btn-primary btn-lg  d-flex justify-content-center align-items-center">
                         
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                         <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                          <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                        </svg>
                        
                        </button>
                     
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                         Add Rating
                        </button>
                     </div>
                      {% endif %}
                    </div>
                  
                
                </div>
              </div>
              
            </div>
            
            <!-- Trigger/Open The Modal -->
           

            <!-- The Modal -->
            <div id="myModal" class="modal" style="position: absolute; bottom: 10; left: 50;">

              <!-- Modal content -->
              <div class="modal-content">
               
              </div>

            </div>
          </div>
              
          </div>
          
    <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card border-primary" style="width: 28.6vw;">
            <div class="card-header">
             Rate This Product
            </div>
            <div class="card-body">
 
              <form action="{% url 'tugule:post_rating' product.id %}" method="POST">
                {% csrf_token %}
                <div class="rating">
  
                    <input value="5" name="rate" id="star5" type="radio">
                    <label title="text" for="star5"></label>
                    <input value="4" name="rate" id="star4" type="radio">
                    <label title="text" for="star4"></label>
                    <input value="3" name="rate" id="star3" type="radio" checked="">
                    <label title="text" for="star3"></label>
                    <input value="2" name="rate" id="star2" type="radio">
                    <label title="text" for="star2"></label>
                    <input value="1" name="rate" id="star1" type="radio">
                    <label title="text" for="star1"></label>
                  </div>
                  <button type="submit" name="submit_button"  class="btn btn-primary">Submit</button>
              </form>
            </div>
             </div>
        </div>
       
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="{% static 'js/cart.js' %}"></script>
</body>
</html>