{% extends 'tugulenga/base.html' %} 
{% load bootstrap5 %}
{% block content %}
<br>
<head>
    <style>
        body{
            background-color:rgb(179, 178, 182);
        }
    </style>
</head>
<div class="container pb-4">
    <div class="card border-light mb-3" style="max-width: 28rem;background-color:teal;">
        <div class="card-header bg-transparent border-light"> <h4>
                            
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
            </svg>
            {% if profile.name == 'user' %}
      {{request.user.username}}
      {% else %}
      {{profile.name}}
            {% endif %}
        </h4></div>
        <div class="card-body ">
          <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"width="26" height="26"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
            {{request.user.email}}</h5>
          <p class="card-text"style="color:black">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
            </svg>  {{profile.contact}}</p>
        </div>
        <div class="card-footer bg-transparent border-light"><a class="btn btn-dark" href="{%url 'tugule:edit_profile' %}">Edit</a></div>
      </div>
   
            
        </div>
    </div>
</div>
{%endblock%}
</body>

