{%load static%}
<!-- products page? -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugule</title>
  <link rel="shortcut icon" type="image/png" href="https://image.ibb.co/fOur3b/favicon.png"/>
    <style>
.rating:not(:checked) > input {
        position: absolute;
        appearance: none;
      }
      
      .rating:not(:checked) > label {
        float: right;
        cursor: pointer;
        font-size: 30px;
        color: #666;
      }
      
      .rating:not(:checked) > label:before {
        content: '★';
      }
      
      .rating > input:checked + label:hover,
      .rating > input:checked + label:hover ~ label,
      .rating > input:checked ~ label:hover,
      .rating > input:checked ~ label:hover ~ label,
      .rating > label:hover ~ input:checked ~ label {
        color: #e58e09;
      }
      
      .rating:not(:checked) > label:hover,
      .rating:not(:checked) > label:hover ~ label {
        color: #ff9e0b;
      }
      
      .rating > input:checked ~ label {
        color: #ffa723;
      }


  .product-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
		body{
			background-color: rgba(0, 6, 12, 0.571);
		}
	
.product-card {
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(188, 200, 192, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.product-card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.product-card a {
  display: block;
  background-color: #0a2338;
  color: #c3dded;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.product-card a:hover {
  background-color: #76c3ef;
}
    </style>
    <style>
        @media (max-width: 768px) {
  .product-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 100%;
  }
}
    </style>
    <script>
      var user = '{{request.user}}'
  
      function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');
    </script>
    
  
</head>
<body>
  
  {%include 'products/navbar.html'%}
  {%include 'products/messages.html'%}
  {% block content %}
  {% endblock %}
  <script src="{% static 'js/cart.js' %}"></script>

</body>

</html>

  