<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script>
        setTimeout(function() {
            document.getElementById("messageContainer").remove();
          }, 1000);
    </script>
</head>

{% if messages %} {% for message in messages %}
<div id="messageContainer" style="position: absolute;
    left: 50%; width: 300px;
    border: rgb(243, 245, 240) ;
    background-image: repeating-radial-gradient(  teal 80%,#505150 90%,#3f4549 90%);
    background-size: 65px 65px;
    z-index: 1002;">
    <div class="alert  text-light alert-dismissible" role="alert" data-bs-theme="dark">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> {{ message }}
    </div>
</div>
{% endfor %} {% endif %}