{%load static%}
<style>
  .hello-msg{
    font-size: 18px;
    margin-right: 20px;
  }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark "style=background-color:teal>
  <img  src="{%static 'images/logo.png'%}" alt="" height=70px style="border-radius: 100%;">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" style=color:black href="{%url 'tugule:home'%}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"style=color:black href="{%url 'tugule:profile'%}">Profile</a>
        </li>
        
        {%if request.user.business_account%}
        <li class="nav-item">
          <a class="nav-link"style=color:black href="{%url 'tugule:business-profile'%}">Business Profile</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link"style=color:black href="{%url 'products:home'%}">Product Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"style=color:black href="{%url 'tugule:create_business'%}">Create Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"style=color:black href="{%url 'products:cart'%}"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
          </svg></i></a>
        </li>
        {% endif %}
    
       
      </ul>
    </div>
    <span class="hello-msg">Hello, 
      {% if profile.name == 'user' %}
      {{request.user.username}}
      {% else %}
      {{request.user.profile.name}}
      
      {% endif %}</span>
    
      <span><a href="{%url 'tugule:logout'%}" class="btn btn-danger btn-sm">Log out</a></span> 
    </a>
    
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

